<html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Movie</title>
</head>
<body>
<div *ngIf="isDataLoaded">


<form>
<table>
<tr><td>Enter Movie Name:</td>
<td><input type="text" name="moviesName" [(ngModel)]='model.moviesName'/><br></td></tr>


<tr><td>Enter Movie Rating:</td>
<td><input type="text" name="moviesRating" [(ngModel)]='model.moviesRating'/><br><br></td></tr>

<tr><td>Select Movie Genre:</td>
<td><select [(ngModel)]="model.moviesGenre" name="moviesGenre">

<option *ngFor="let c of categories" >{{c.categoryName}}</option>
</select><br><br></td></tr>
<tr>
<td>
<button (click)="addMovie()">Add Movie</button></td>
</tr>


</table>
</form>

</div>

</body>
</html>